#main {
    height: 100%;
    width: 100%;
    background-color: #6495ED;
}

#table-seats {
    /*margin: 10px;*/
    /*overflow: auto; !* Добавляем полосы прокрутки *!*/
    /*padding-left: 15px; !* Отступ от текста слева *!*/
    /*background: url("https://www.soyuz.ru/public/uploads/files/6/6968307/20170308232619a4176baf60.jpg") repeat-y #fc0;*/
    /*background: url("https://lh4.googleusercontent.com/CizbjVdAF-CxhllDEBNryOKEhusBsT-Hns9CDxD_OYHJUx10RV9ZrkkpLQ12u4Y-E9OM_65NW3F7hXo=w1920-h901-rw") cornflowerblue;*/
    /*padding-top: 100px;*/
    /* Цвет фона,
                                                       путь к фоновому изображению и
                                                       повторение фона по вертикали */
}

div.empty_seat {
    display:inline-block;
    width: 30px;
    height: 30px;
    background: darkolivegreen;
    border-radius: 5px;
    margin: 5px;
    text-align: center;

}

div.empty_left_lux_seat {
    display:inline-block;
    width: 30px;
    height: 30px;
    background: darkslateblue;
    margin-left: 10px;
    margin-top: 10px;
    border-top-left-radius: 10px;
    text-align: center;
}

div.empty_right_lux_seat {
    display:inline-block;
    width: 30px;
    height: 30px;
    background: darkslateblue;
    margin-right: 10px;
    margin-top: 10px;
    border-top-right-radius: 10px;
    text-align: center;
}

div.reserved_seat {
    display:inline-block;
    width: 30px;
    height: 30px;
    margin: 5px;
    background: indianred;
    text-align: center;
}

div.reserved_seat:hover {
    background: darkred;
    transition: 1s;

}

div.reserved_right_lux_seat {
    display:inline-block;
    width: 30px;
    height: 30px;
    background: indianred;
    margin-right: 10px;
    margin-top: 10px;
    border-top-right-radius: 10px;
    text-align: center;
    content: "";

}

div.reserved_right_lux_seat:hover {
    background: darkred;
    transition: 1s;
    content: "";
}

div.reserved_left_lux_seat {
    display:inline-block;
    width: 30px;
    height: 30px;
    background: indianred;
    margin-left: 10px;
    margin-top: 10px;
    border-top-left-radius: 10px;
    text-align: center;

}

div.reserved_left_lux_seat:hover {
    background: darkred;
    transition: 1s;
}

div.used_seat {
    display:inline-block;
    width: 30px;
    height: 30px;
    background: gray;
    margin: 5px;
    text-align: center;
}

div.empty_seat:hover {
    transform: scale(1.5);
    transition: 2s;
}

div.empty_left_lux_seat:hover {
    transform: scale(1.3);
    transition: 2s;
}

div.empty_right_lux_seat:hover {
    transform: scale(1.3);
    transition: 2s;
}
/*подсказки*/

div.used_seat em{
    display: none;
}
div.reserved_seat em {
    display: none;
}
div.reserved_left_lux_seat em {
    display: none;
}
div.reserved_right_lux_seat em {
    display: none;
}

div.empty_seat em {
    display: none;
}
div.empty_seat:hover em {
    font-style: normal;
    display: block;
    position: absolute;
    background: #000;
    color: #FFF;
    padding: 3px 5px;
    width: 150px;
    bottom: 22px;
    right: 0;
    box-shadow: 0 0 5px #ccc;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-box-shadow: 0 0 5px #ccc;
    -moz-box-shadow: 0 0 5px #ccc;
}
div.empty_seat:hover em i {
    position: absolute;
    bottom: -7px;
    right: 5px;
    border-top: 7px solid #000;
    border-left: 7px solid transparent;
    display: block;
}
/**/
div.empty_left_lux_seat em {
    display: none;
}
div.empty_left_lux_seat:hover em {
    font-style: normal;
    display: block;
    position: absolute;
    background: #000;
    color: #FFF;
    padding: 3px 5px;
    width: 150px;
    bottom: 22px;
    right: 0;
    box-shadow: 0 0 5px #ccc;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-box-shadow: 0 0 5px #ccc;
    -moz-box-shadow: 0 0 5px #ccc;
}
div.empty_left_lux_seat:hover em i {
    position: absolute;
    bottom: -7px;
    right: 5px;
    border-top: 7px solid #000;
    border-left: 7px solid transparent;
    display: block;
}
/**/
div.empty_right_lux_seat em {
    display: none;
}
div.empty_right_lux_seat:hover em {
    font-style: normal;
    display: block;
    position: absolute;
    background: #000;
    color: #FFF;
    padding: 3px 5px;
    width: 150px;
    bottom: 22px;
    right: 0;
    box-shadow: 0 0 5px #ccc;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-box-shadow: 0 0 5px #ccc;
    -moz-box-shadow: 0 0 5px #ccc;
}
div.empty_right_lux_seat:hover em i {
    position: absolute;
    bottom: -7px;
    right: 5px;
    border-top: 7px solid #000;
    border-left: 7px solid transparent;
    display: block;
}

